<div class="mt-4">
    <div class="row">
       
        <div class="col-lg-4">
           <p>
            <img class="container" width="100%" height="360" src="{{course.image}}"/>
            </p>
            <p>
            <img class="container" width="100%" height="360" src="{{course.p1}}"/>
            </p>
           
        </div>

        <div class="col-lg-4">
            <p>
            <img class="container" width="100%" height="360" src="{{course.p2}}"/>
            </p>
            <p>
            <img class="container" width="100%" height="360" src="{{course.p3}}"/>
            </p>
            
        </div>

           <div class="col-lg-4">
                <h2>{{course.name}}</h2>
                <h4>{{course.description}}</h4>
                <h6>{{course.price}}</h6></br>
                <p>{{course.title}}</p>
                <a class="nav-link btn btn-outline-dark m-4 "  onclick="buy()">Buy Now</a>
            </div>
            
    </div>

    

</div>